<md-sidenav-container >

<!--<nav md-tab-nav-bar>
  <a md-tab-link (click)="sidenav.open()"> TabLink's Label    
  </a>
  <a md-tab-link> Tab2   
  </a>
  <a md-tab-link> Tab3
  </a>
</nav>-->
<button md-icon-button (click)="sidenav.open()" class="topLeft">
  <md-icon>more_vert</md-icon>
</button>
<md-tab-group>
   <md-tab color="accent" label="LAYOUT" >
     <div id="tileContainer" class="pure-g" style="margin: 0,auto;height: 100%;overflow-y: hidden;">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-3 tile">
        <h3> 上传文件，体验图像分类 </h3>
        <app-upload (imageResult)="previewImage($event)"></app-upload>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-3 tile">
        <h3> This is tile A </h3>
        <p>自适应布局是个老话题，但笔者平时接触不多，这次准备了解并且实践下。简单查阅了下资料，基本上主流的方式是基于
[媒体查询创建响应式网站]</p>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-3 tile">
        <h3> This is tile B </h3>
        <p>这其中也会涉及到Flex 等具体的css属性，来辅助伸缩布局。但媒体查询是区别不同设备屏幕的基础，Flex并没有这个功能。          
        </p>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-3 tile">
        <h3> This is tile C </h3>
        <p>媒体查询其实比较简单，许多前端UI库已经内置了设定好的媒体查询，并且大多以这种形式出现</p>
      </div>
     </div>
  </md-tab>
  <md-tab label="COMPONENTS">
    <md-spinner *ngIf="!bigImages"></md-spinner> 
    <md-card *ngFor="let img of bigImages | async">
      <md-card-title-group>
        <md-card-title>每日一图</md-card-title>
        <md-card-subtitle>Photo</md-card-subtitle>
        <img md-card-avatar src="./assets/RealShadow_flight.png">
      </md-card-title-group>
      <!--*ngFor="let img of bigImages | async" -->
      <img md-card-image src={{bingPrefix}}{{img.url}}>
      <md-card-content>{{img.copyright}}</md-card-content>
      <md-card-actions>
        <md-checkbox (change)="toggleprofile()"> Display profile </md-checkbox>
        <button md-button color="warn">Click me!</button>
      </md-card-actions>
      
    </md-card>
  </md-tab>
  <md-tab label="SELECT DEMO">
    <!--<md-grid-list cols="1" rowHeight="2:1">-->
      <md-card>
        <md-card-title>Large Select</md-card-title>
        <md-card-content>
          <large-list [options]="addrObjs" [title]="title"></large-list>
        </md-card-content>
      </md-card>  
      <md-card>
        <md-card-title>Description</md-card-title>
        <md-card-content>
          There are over 20000 options in the large select, <br>
          which apply pagenation to promote performance. <br><br>
          Actually, chrome render select options before we select, <br>
          but firefox render the select after we click select. <br>
          This larget list component is meant to pollyfill the diff.
        </md-card-content>
      </md-card>
  </md-tab> 
</md-tab-group>

  <md-sidenav #sidenav class="example-sidenav">
    <app-layout></app-layout>
  </md-sidenav>

<!-- 
  While <md-tab-group> is used to switch between views within a single route,
<nav md-tab-nav-bar> provides a tab-like UI for navigating between routes
 -->


  <!--<md-grid-tile>
    <app-map-gl></app-map-gl>
  </md-grid-tile>-->

</md-sidenav-container>
