md-grid-tile {
    /*padding: 10px;*/
    /*margin: 5px;*/
    background: #eee;
    border-radius: 4px;
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.2);*/
}

.topLeft{
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.example-sidenav {
    padding: 10px;
}

md-card {
    float: left;
    /*display: inline-block;*/
    max-width: 480px;
    margin: 10px 10px;
    background: #eee;
}

@media (max-width: 1280px) {
    md-card {
        margin-top: 10px;
        background: #eee;
    }
}
.tile {
     min-height: 250px;
     min-width: 300px;
     padding: 10px;
     margin-top: 5px;
     font-size: 14px;
     /*box-sizing: border-box;*/
     background-color: #eee;
     text-align: center;
     vertical-align: middle;
     transition: background-color width, .5, ease-out;
}
.tile:hover {
    background-color: #fff;    
}
.my-card {
    height: 100%;
    width: 100%;
    background: #eee;
}
p {
    text-align: start;
}
md-tab-group {
    margin-left: 10px;
}
